html{
    height: 100%;
}

body{
    min-width:100%;
    min-height: 100%;
    display: inline-flex;
    flex-direction: column;
}

td{
    padding: 0.5em !important;
    border: 1px solid #D0D0D0;
}

/* time */

td.weekend{
    background-color: #EDEDED;
}

td.january{
    background-color: #FDDA40;
}

td.february{
    background-color: #FFABF3;
}

td.march{
    background-color: #5FE652;
}

td.april{
    background-color: #68EDFA;
}

td.may{
    background-color: #F2C36E;
}

td.june{
    background-color: #24FBA8;
}

td.july{
    background-color: #D0EEEF;
}

td.august{
    background-color: #8BFF9A;
}

td.september{
    background-color: #EEF4BA;
}

td.october{
    background-color: #67FDDC;
}

td.november{
    background-color: #BFCF89;
}

td.december{
    background-color: #D7FAA3;
}

td.am{
    background-color: #71ACF8;
}

td.pm{
    background-color: #3D5277;
    color: #FFFFFF;
}

/* status */

td.maint{
    background-color: #FF0000;
    color: #FFFFFF;
}

td.setup{
    background-color: #BDE380;
}

td.startup{
    background-color: #FDA095;
    color: #9D4035;
}

td.yield{
    background-color: #8CEDAB;
}

td.beam-dev{
    background-color: #e9d460;
}

/* experiments */

td.experiment-index{
    background-color: #FFFF00;
}

td.tigress{
    background-color: #0000FF;
    color: #FFFFFF;
}

td.dsl{
    background-color: #009900;
    color: #FFFFFF;
}

td.griffin{
    background-color: #96281B;
    color: #FFFFFF;
}

td.iris{
    background-color: #663399;
    color: #FFFFFF;
}

/* Header & Footer */
div.branding{
    background-color: #367FA9;
    color: #F9F9F9;
    padding: 1em;
    clear: both;
}

div.header{
    margin-bottom: 1em;
}

div.footer{
    margin-top: 1em;
    min-height: 10em;

    flex-shrink: 0;
}

div.wrap{
    flex-grow: 1;
    flex-shrink 0;
}
